.App {
  text-align: center;
  background-color: pink;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}





.ExtensionName {
  color: rgb(246, 49, 49);
}

