.Tab {
    margin: 3%;
    background-color: rgba(235, 228, 228, 0.062);
    display: flex;
    justify-content: space-between;
}

.Tab:hover{
    background-color: rgba(206, 178, 178, 0.26);
}

.favIcon > img{
    max-width: 26px;
    height: auto;
}